@using BAK_web.Models
@model Crossword
@{
    string[] legendsHorizontal = new string[0];
    string[] legendsVertical = new string[0];
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/wwwroot/css/style.css" type="text/css" />
    <script src="~/wwwroot/js/JavaScript.js"></script>
    <title>Crossword</title>
</head>




<table class="crossword">
    @for (int y = 0; y < Model.height; y++)
    {
        <tr class="row">
            @for (int x = 0; x < Model.width; x++)
            {
                <td class="cell" data-row="@x" data-col="@y"></td>
            }
        </tr>
    }
</table>


<div id="cluesHorizontalContainer" class="clues"></div>
<div id="cluesVerticalContainer" class="clues"></div>