@using BAK_web.Models
@model Crossword
@{
    ViewBag.Title = "Crossword";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/wwwroot/css/style.css" type="text/css"/>
    <script src="~/wwwroot/js/JavaScript.js"></script>
    <title>Crossword</title>
</head>

<body>
    <button onclick="settingVariables()">Generovat</button>
    <div id="crosswordResult"></div>
</body>
