:root {
    --rows: 0;
    --columns: 0;
    --size: 80px;
}

body, html {
    margin: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button {
    padding: 2px;
    margin: 1vw;
}

.crosswordResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crossword {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(calc(100% / var(--columns)), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    background-color: white;
    z-index: 1;
    position: relative;
    width: calc(var(--columns) * var(--size));
    margin: 0 auto;
    place-items: center;
}

.row {
    display: flex;
}

.cell {
    position: relative;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell-clue {
    font-size: 8px;
    text-align: center;
    overflow: hidden;
    hyphens: auto;
    overflow-wrap: break-word;
}

.cell.cell-clue {
    font-size: 12px;
    text-align: center;
}

.cell.cell-secret {
    background-color: yellow;
}


input.cell:focus {
    outline: none;
    background-color: #eef;
}

input.cell {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background: transparent;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto; /* Centrování tabulky a odstranění vnějšího odsazení */
    padding: 0; /* Odstranění vnitřního odsazení */
    border-spacing: 0;
    max-height: calc(var(--rows) * var(--size));
    display: block;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.both-directions-clue {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
}

.upper-part, .bottom-part {
    flex: 1;
}

.upper-part {
    border-bottom: 1px solid;
}

.clues {
    font-size: 24px;
    flex: 1;
    width: 50%;
}

.clue-index {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 14px;
}

.cluesContainer {
    margin: 2vw;
    display: flex;
    flex-direction: row;
}



textarea {
    white-space: nowrap;
    overflow: hidden;
}

.letter {
    position: absolute;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background-color: inherit;
    text-align: center;
    padding: 0;
    padding-top: 15px;
}

#loadingIndicator {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    /*background-color: rgba(0,0,0,0.1); 
    /* display: none;*/
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.crossword-container {
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
}

crossword-container > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.body-content {
    max-width: 2000px;
    width: 100%;
}

#options {
    padding: 5px;
    background-color: gray;
    display: none;
    flex-direction: column;
    
}

#options-text {
    font-size: 20px;
    margin-left: 10px;
}

@media print {
    .dontPrint, button, header, footer {
        display: none;
    }

    body {
        width: 100%;
        margin: 0;
        padding: 0;
        /*overflow: visible;*/
    }

    table {
        page-break-inside: auto; /* Zabraňuje rozdělení tabulky přes stránky */
        overflow: visible;
        margin: 0 auto;
    }
}
